/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*CSS RESET CODE ABOVE*/

/*MY CODE BEGINS HERE*/

html {
    background-color: #020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    max-width: 834px;
    margin: 0 auto;
}
main {
    display: grid;
    grid-template-columns: 3fr 3fr;
}
.title {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    top: 10px;
}
header {
    background-color:#020873;
    color: #fff;
    border: 1px solid #020873;
}
footer {
    background-color: #fff;
    margin-top: -100px;
    border-top: #fff solid 100px;
}
a {
    color: #fff;
    text-decoration: none;
}
nav {
    margin: 10px 10px 10px 10px;
    position: relative;
}
nav li {
    display: inline-block;
    width: 130px;
    height: 10px;
    text-align: center;
    padding-bottom: 15px;
}
nav li:hover {
    background-color: #590242;
}
ul {
    display: flex;
    justify-content: space-between;
}
h1 {
    font-size: 1.25em;
    line-height: 2em;
    font-weight: bold;
    text-transform: uppercase;
}
h2 {
    font-size: 1em;
    color: #590242;
    line-height: 2em;
    font-weight: bold;
    text-transform: uppercase;
}
h3 {
    font-size: 1em;
    color: #590242;
    line-height: 2em;
    font-weight: bold;
    text-transform: uppercase;
}
#playlists {
    font-size: 1em;
    color: #590242;
    line-height: 2em;
    font-weight: bold;
    text-transform: uppercase;
}
dt {
    font-size: 1em;
    color: #590242;
    line-height: 2em;
    font-weight: bold;
    text-transform: uppercase;
}
p {
    width: 200%;
    margin: 20px 20px 20px 20px;
    line-height: 20px;
    font-size: 1em;
}
small {
    display: block;
    text-align: center;
    padding: 20px;
    color: #590242;
}
#playlists p {
    text-align: center;
    color: #fff;
}
#playlists h3 {
    text-align: center;
    color: #fff;
}
#curated h3 {
    text-align: center;
    color: #fff;
}
#curated p {
    text-align: center;
    color: #fff;
}
#playlists img, #curated img {
    padding-left: 20px;
    float: left;
}
#curated img:hover {
    color: rgba(255, 255, 255, .5);
}
#playlists img:hover {
    color: rgba(255, 255, 255, .5);
}
#curated h2 {
    background-color: #fff;
    padding-bottom: 10px;
    padding-left: 30px;
}
#playlists h2 {
    background-color: #fff;
    padding-bottom: 10px;
    padding-left: 30px;
}
.playlists {
    background-color: 64b6fd;
}
.curated {
    background-color: 030A8C;
}
.slider {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}
.slider section {
    margin: 10px;
    position: relative;
}
.slider div {
    background-image: rgba(255,255,255,0.75);
    position: absolute;
    padding: 5px;
    height: 50px;
    width: 250px;
    top: 250px;
}
.vertical-playlsits {
    display: grid;
    height: 50%;
}
.vertical-playlists section {
    margin: 10px;
    position: relative;
}
dl {
    color: #590242;
    font-style: italic;
    font-weight: light;
    font-size: 1em;
}
dt {
    color: #590242;
    font-style: italic;
    font-weight: light;
    font-size: 1em;
}
#trending dl {
    display: flex;
}
#trending dt {
    padding-right: 5px;
}